.dt:after {
     display: none !important;
     outline: none !important;
     box-shadow: none !important;
}

.plus{
    border-radius: 4px;
    background-color: rgb(224, 224, 224);
    padding: 12px;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}
.three-dots{
    display: none;
}

.ques{
    background-color: white;
}
.ques:hover{
    background-color: rgb(237, 237, 237);
}

.ques:hover .three-dots{
    display: block;
}
.drpmenu{
    background-color: rgb(255, 255, 255);
}

