.left-sidebar{
    position: fixed;
    margin-top: 0;
    width: 20vw;
    height: 95vh;
    border-right: solid rgb(236, 236, 236);
    background-color: white;
    justify-self: flex-start;
    margin-left: 0vw;
}
.content{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.plus{
    border-radius: 4px;
    background-color: rgb(224, 224, 224);
    padding: 12px;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: small;
}
.quesstored{
    width:15vw;
    height: 90%;
}
.qtype{
    margin: 20px;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.qico{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin:5px;
}