.topnav{
    border-bottom: rgb(236, 236, 236) solid;
}
.middle{
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
.workspace{
    display: inline;
    color: grey;
}
.middle:hover{
  box-sizing: border-box;
  font-style: bold;
  border-bottom: solid 2px;
  line-height: 1;
}

