.middle{
  color: grey;
  font-size: 14px;
}
.workspace{
  color: grey;
  font-size: 14px;
  cursor: pointer;
}
.createtext{
  color: #000;
  font-weight: 500 !important;
  border-bottom: solid 2px black;
}
.middle:hover{
  color: #000;
  font-weight: 500 !important;
  border-bottom: solid 2px black;
}
@media screen and (max-width: 320px) {
  .middle{
    font-size: 8px;
  }
  .workspace{
    font-size: 8px;
  }
}
@media screen and (max-width: 480px) {
  .middle{
    font-size: 10px;
  }
  .workspace{
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .middle{
    font-size: 10px;
  }
  .workspace{
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .middle{
    font-size: 12px;
  }
  .workspace{
    font-size: 12px;
  }
}
@media screen and (max-width: 900px) {
  .middle{
    font-size: 14px;
  }
  .workspace{
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .middle{
    font-size: 14px;
  }
  .workspace{
    font-size: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .middle{
    font-size: 14px;
  }
  .workspace{
    font-size: 14px;
  }
}



