.input-typeform-name{
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}
.typeform-submit{
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    margin-top: 2vh;
    background-color:white;
}