.box-shad{
    box-shadow: 4px black;
}
.closebuttonspan{
    cursor: pointer;
}
.closebutton{
    visibility: visible;
}
.closebutton:hover{
    visibility: visible;
}
.btnstat{
    border-radius: 4px !important;
    background-color: rgb(4, 69, 175) !important;; 
    color: white !important;
    font-weight:700 !important;
}
.textans{
    color: #379CFB !important;
}
.formControl::placeholder{
    color: #000000 !important;
    font-weight: 400 !important;
    font-style: italic !important;
}
.bg-blue{
    background-color: #0445AF !important;
}
.bg-light-blue{
    background-color: rgba(4, 69, 175 ,0.3) !important;
}






