.box-shad{
    box-shadow: 4px black;
}
.closebuttonspan{
    cursor: pointer;
}
.closebutton{
    display: none;
}
.closebuttonspan:hover + .closebutton{
    display: inline;
}
.btnstat{
    border-radius: 4px !important;
    background-color: rgb(4, 69, 175) !important;; 
    color: white !important;
    font-weight:700 !important;
}
.textans{
    color: #379CFB !important;
}







